.main__container {
    width: 65vw;
    height: 100vh;
    z-index: 10;
    flex: 1 1 70%;
}

.admin__main {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100%;
    margin-top: 5%;
}